body {
  background: #1e1f23;
  margin: 0;
  font-family: 'Lora', sans-serif;
  font-size: 16px;
  letter-spacing: 0.05em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
